


.login-background-container{
  position:absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.login-container{
    background: #f4f4f4;
    width: 60%;
    height: 500px;
    border: 1px solid #cecece;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 20%;
    box-shadow: 0px 0px 15px 0px #b7b7b7;
}


* {
  padding:0px;
  margin:0px;
}